.rabbit-list .rabbit-img-wrapper {
  width: 140px;
  height: 140px;
  margin: 0.75em;
  display: inline-block;
  position: relative;

  img {
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.rabbit-buttons {
  position: fixed;
  background: white;
  bottom: 1em;
  right: 1em;
  margin-bottom: 0;
}

.rabbit-buttons .btn {
  margin: 0.25em;
}