@import "./variables";

// // Need to rewrite icon-font-path to point to where they're stored relative
// // to bower_ompconents before import so Webpack's web-loader can find them
$icon-font-path: "~bootstrap-sass-official/assets/fonts/bootstrap/";
@import "~bootstrap-sass-official/assets/stylesheets/bootstrap";

h1 {
  color: $brand-primary;

  i.fa {
    padding-right: 0.5em;
  }
}

.alert .fa-fw {
  width: 1.5em;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container .flex-main {
  flex-grow: 1;
  padding: 10px;
}

.flex-container .flex-left, .flex-container .flex-right {
  width: 100px;
  background: #eef;
}